{% extends "base.html" %}

{% block title %}Membership{% endblock %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">EVEHUD Membership</div>
    <div class="panel-body">
        <h2>Subscriptions</h2>
        <div class="row">
        <div class="col-md-6">
            <h4>Corporation</h4>
            <p>
                <big><i>Bronze</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>Full corporation API features.</li>
                    <li>Access to the API of corporation members</li>
                    <li>Private Permanent XMPP Rooms</li>
                </ul>
                <big><i>Silver</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>All Bronze features</li>
                    <li>Corporation Forum</li>
                    <li>Corporation Fittings</li>
                </ul>
                <big><i>Gold</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>All Silver features</li>
                    <li>Private rooms on Mumble for x-users(Trial)</li>
                    <li>Own file up/download up to x-mb</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <h4>Alliance</h4>
            <p>
                <big><i>Bronze</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>Access to the API of alliance corporations</li>
                    <li>Access to the API of corporation members(on request?)</li>
                    <li>Private Permanent XMPP Rooms</li>
                </ul>
                <big><i>Silver</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>All Bronze features</li>
                    <li>Alliance Forum</li>
                    <li>Alliance Fittings</li>
                </ul>
                <big><i>Gold</i></big>&nbsp;&nbsp;&nbsp;x-ISK/month
                <ul>
                    <li>All Silver features</li>
                    <li>Private rooms on Mumble for x-users(Trial)</li>
                    <li>Own file up/download up to x-mb</li>
                </ul>
            </p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12" style="margin-top: 4em;">
            <p>
                While EVEHUB is free to use for any user, it also offers extra features for corporations and alliances.<br>
                Adding these features for just a select of users can be really usefull, but also take huge amounts of extra work. Time we also could spend in EVE making isk. Blablabla bla. You make up something<br>
                <br>
                To get a subscription you have to be the CEO of a corporation or alliance. Also you should have at least a limited API for your CEO character for validation. Every subscription owner has the ability to grant other users access to the leadership control pannel.<br>
                <br>
                After filling out the form your application has to be manual processed by an admin. You will be contacted as soon as we can for further processing.<br>
                <br>
                <br>
                <br>
                <strong>Note</strong><br>
                If you are a corporation within Apocalypse Now, the corporation subscription can be acquired free of charge. No other subscriptions will be given while EVEHUD is in alfa state.
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
